<h2 class='text-center'> All your rappers </h2>
<div class="index-container">
  <div class="main-container">
    <div class="container">
      <div class="row">
      <p><% @rappers.each do |rapper| %></p>
        <div class="col-md-4">
          <div class="card-booking" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
          url('<%= cl_image_path rapper.picture %>')">
            <%= link_to "+", agent_rapper_path(rapper), method: :delete, data: { confirm: "Are you sure?" }, class: "card-remove-link" %>
            <%= link_to "", rapper_path(rapper), class: "card-link" %>
            <div class="card-category"><%= rapper.style %></div>
            <div class="card-description-booking">
              <h4><%= rapper.blaz %></h4>
              <p><%= rapper.price_per_day %>$/day</p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
