<h1 class="text-center">All ours rappers</h1>

<div class="index-container">
  <div class="main-container">
    <div class="container">
      <div class="form">
        <%= form_tag rappers_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a rapper" %>
        <% end %>
      </div>
      <div class="row">
        <% @rappers.each do |rapper| %>
          <div class="col-md-4">
            <div class="card-booking" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
            url('<%= cl_image_path rapper.picture %>')">
              <%= link_to "", rapper_path(rapper), class: "card-link" %>
              <div class="card-category"><%= rapper.style %></div>
              <div class="card-description-booking">
                <h4><%= rapper.blaz %></h4>
                <p><%= rapper.price_per_day %>$/day</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="map" data-markers="<%= @markers.to_json %>"></div>
  </div>
</div>
