
<div class="banner-show" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,20,40,0.1) 50%), url('<%= cl_image_path @rapper.background_picture %>')">
    <div class="banner-blaz"><%= @rapper.blaz %>
    </div>
    <div class="banner-price"><%= @rapper.price_per_day %> $
    </div>
    <div class="banner-details">
      <p>Description : <%= @rapper.description %></p>
      <br>
      <p>Punchline : <%= @rapper.punchline %></p>
      <br>
      <p>Style : <%= @rapper.style %></p>
      <br>
      <p>Origin : <%= @rapper.origin %></p>
    </div>
</div>
<br>
<br>
<br>
<div class="center-container">
  <div>
    <iframe width="700" height="393,75" src='https://youtube.com/embed/<%= @rapper.video %>' frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>


<div class="header-show">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h2>Book <%= @rapper.blaz %></h2>
    <%= simple_form_for @booking, url: rapper_bookings_path(@rapper) do |f| %>
      <%= f.input :starting_on, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :ending_on, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Go", class: "btn btn-danger" %>
    <% end %>
  </div>
</div>


rails generate migration AddVideoToRappers video:string
